.btn-regresar {
  position: fixed;
  left: 20px;
  bottom: 120px;
  width: 55px;
  height: 55px;
  background-color: #ffffff;
  border: 3px solid #fc4b08;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  z-index: 1500;
  transition: 0.3s;
}

.btn-regresar i {
  font-size: 28px;
  color: #fc4b08;
}

.btn-regresar:hover {
  transform: scale(1.1);
  background-color: #0e0a08;
}

.btn-regresar:hover i {
  color:#ffffff;
}