body {
    background-color: #ffffff;
    font-family: 'Open Sauce One', sans-serif;
}

/* NAVBAR */
.contenedor-nav {
  background-color: #fc4b08;
  color: white;
  padding: 10px 20px;
}

.navbar-brand-img {
    height: 70px;
}

.form-control-search {
  border-radius: 25px;
  padding-right: 45px;
  border: none;
  box-shadow: 0 0 4px rgba(0,0,0,0.1);
}

.icono-lupa {
    position: absolute;
    right: 12px;
    top: 8px;
}

.herramientas img:hover {
    transform: scale(1.1);
    filter: brightness(1.2);
    transition: .3s;
}

/* BOTÓN REGRESAR */
.boton-regresar {
    position: fixed;
    bottom: 110px;
    left: 20px;
    background: white;
    border: 3px solid #fc4b08;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    color: black;
    z-index: 999;
    text-decoration: none;
}

.boton-regresar:hover {
    transform: scale(1.1);
    background-color: #0e0a08;
}



/* CONTENEDOR PRINCIPAL */
.contenedor-queja {
    background: white;
    padding: 20px;
}

.area-queja {
    border-radius: 10px;
    border: 2px solid #d9d9d9;
}

/* BOTÓN ENVIAR */
.btn-enviar {
    background-color: #fc4b08;
    color: white;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 10px;
}

.btn-enviar:hover {
    background-color: #e04006;
}

/* FOOTER */
.pie-pagina {  
    background-color: #fc4b08;  
    color: white;  
    padding: 20px;  
    text-align: left;
}

.pie-pagina img {
    width: 35px;
    margin-left: 15px;
}

/* Elimina espacios en el body */
body {
    margin: 0;
    padding: 0;
}

/* Asegura que la barra naranja ocupe todo */
header, nav.navbar {
    background-color: #e95b2a !important;
    width: 100%;
    margin: 0;
    padding: 0;
}


