.contenedor-nav{
    background-color: #FC4B08;
}
.img-fluid{
    width: 70px;
    height: 70px;
}
.herramientas{
    display: flex;
    justify-content: flex-end;
}
.position-relative {
    /* Asegura que el botón se posicione en relación al formulario */
    position: relative;
}

.btn-search-icon {
    /* Posicionamiento del botón dentro del input */
    position: absolute;
    top: 50%; /* Centrado vertical */
    right: 15px; /* Ajusta la distancia desde el borde derecho */
    transform: translateY(-50%); /* Ajuste fino */
    
    /* Estilos para que parezca un icono y no un botón estándar */
    background: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    z-index: 5; /* Asegura que esté por encima del input */
}
.img-search{
    width: 15px;
    height: 15px;
}
.btn-admin-icon{
    background: transparent;
    border: none;
}
.btn-notiifcacion-icon{
    background: transparent;
    border: none;
}
.img-user{
    width: 30px;
    height: 30px;
}
.img-notificacion{
    width: 30px;
    height: 30px;
}

/*SECTION BOTON PUBLICAR*/
.seccion-publicar{
    background-color: #fff;
}
.btn-publicar{
    font-family: 'Open Sauce One';
    font-weight: bold;
    background-color: #FC4B08;
    border: none;
    border-radius: 9px;
    color: #fff;
}
.img-btn-publicar{
    width: 20px;
    height: 20px;
}

.seccion-main{
    background-color: #F2F2F2;
}
/*CARRUSEL SECCION*/

.titulo-carrusel{
    color: #FC4B08;
    text-align: center;
    font-size: 3.5em;
    font-family: 'League Spartan';
    font-weight: bold;
}
.contenedor-carrusel-completo{
    width: 1200px !important;
}
.carrusel-contenedor{
    border-radius: 20px;
    position: relative;
    height: 450px;
}
.carousel-indicators [data-bs-target] {
    width: 20px !important;
    height: 20px !important;
    border-radius: 50%;
}
.img-carrusel{
    width: 100%;
    height: 450px;
}
.contenedor-categoria{
    background-color: #FFFFFF;
}
.btn-seleccion{
    color: #FFFFFF !important;
    background-color: #FC4B08 !important;
}
.titulo-categoria{
    font-size: 0.8em !important;
    text-align: center !important;
}

@media (min-width: 576px) {
    .titulo-categoria{
        font-size: 1em !important;
    }
}
@media (min-width: 576px){
    .contenedor-tarjetas{
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
    }
}
/*
*/
/* FOOTER */
    .pie-pagina {  
      background-color: #fc4b08;  
      color: white;  
      text-align: left;  
      padding: 20px;  
      margin-top: 50px;  
    }  
    
    .pie-pagina img {  
      width: 35px;  
      margin: 0 5px;  
    }

    /* RESPONSIVE */
    @media (max-width: 576px) {
      .contenedor-login {
        margin: 20px;
        padding: 30px 20px;
      }

      .avatar-circle {
        width: 100px;
        height: 100px;
      }

      .avatar-circle i {
        font-size: 50px;
      }
    }
/*
SECCION DESCRIPCION DE PRODUCTO
*/
.descripcion-producto{
    font-family: 'open sauce one' !important;
    font-weight: bold;
}

#precio{
    font-family: 'open sauce one' !important;
    font-weight: bold;
    color: #FC4B08;
    font-size: 2em;
}

#lista-productos{
    text-align: center;
}