* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v547_334 {
  width: 100%;
  height: 1545px;
  background: rgba(242,242,242,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v547_366 {
  width: 100%;
  height: 154px;
  background: url("../images/v547_366.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1391px;
  left: 1px;
  overflow: hidden;
}
.v547_367 {
  width: 100%;
  height: 154px;
  background: rgba(252,75,8,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v547_368 {
  width: 329px;
  height: 91px;
  background: url("../images/v547_368.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 28px;
  left: 1351px;
  overflow: hidden;
}
.v547_369 {
  width: 83px;
  height: 83px;
  background: url("../images/v547_369.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 125px;
  overflow: hidden;
}
.v547_370 {
  width: 86px;
  height: 86px;
  background: url("../images/v547_370.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 243px;
  overflow: hidden;
}
.v547_371 {
  width: 91px;
  height: 91px;
  background: url("../images/v547_371.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v547_372 {
  width: 517px;
  height: 127px;
  background: url("../images/v547_372.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 7px;
  left: 55px;
  overflow: hidden;
}
.v547_373 {
  width: 191px;
  color: rgba(255,255,255,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Open Sauce One;
  font-weight: Bold;
  font-size: 35px;
  opacity: 1;
  text-align: center;
}
.v547_374 {
  width: 192px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 48px;
  left: 51px;
  font-family: Open Sauce One;
  font-weight: Bold;
  font-size: 30px;
  opacity: 1;
  text-align: center;
}
.v547_375 {
  width: 466px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 90px;
  left: 51px;
  font-family: Open Sauce One;
  font-weight: Bold;
  font-size: 30px;
  opacity: 1;
  text-align: center;
}
.v547_376 {
  width: 35px;
  height: 35px;
  background: url("../images/v547_376.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 91px;
  left: 0px;
  overflow: hidden;
}
.v547_377 {
  width: 36px;
  height: 36px;
  background: url("../images/v547_377.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 48px;
  left: 0px;
  overflow: hidden;
}
.v547_335 {
  width: 100%;
  height: 14629px;
  background: url("../images/v547_335.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 8748px;
  left: 6858px;
  overflow: hidden;
}
.v547_336 {
  width: 100%;
  height: 100%;
  background: url("../images/v547_336.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border: 30px solid rgba(255,255,255,1);
  overflow: hidden;
}
.v547_337 {
  width: 100%;
  height: 1361px;
  background: url("../images/v547_337.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v547_338 {
  width: 100%;
  height: 552px;
  background: url("../images/v547_338.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 678px;
  left: 63px;
  overflow: hidden;
}
.v547_339 {
  width: 100%;
  height: 71px;
  background: url("../images/v547_339.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 4px;
  overflow: hidden;
}
.v547_340 {
  width: 100%;
  height: 71px;
  background: rgba(252,75,8,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
  overflow: hidden;
}
.v547_341 {
  width: 163px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 14px;
  left: 22px;
  font-family: Open Sauce One;
  font-weight: Bold;
  font-size: 35px;
  opacity: 1;
  text-align: left;
}
.v547_342 {
  width: 100%;
  height: 71px;
  background: url("../images/v547_342.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 226px;
  left: 0px;
  overflow: hidden;
}
.v547_343 {
  width: 100%;
  height: 71px;
  background: rgba(252,75,8,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
  overflow: hidden;
}
.v547_344 {
  width: 230px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 14px;
  left: 26px;
  font-family: Open Sauce One;
  font-weight: Bold;
  font-size: 35px;
  opacity: 1;
  text-align: left;
}
.v547_345 {
  width: 100%;
  height: 71px;
  background: url("../images/v547_345.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 113px;
  left: 4px;
  overflow: hidden;
}
.v547_346 {
  width: 100%;
  height: 71px;
  background: rgba(252,75,8,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
  overflow: hidden;
}
.v547_347 {
  width: 163px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 14px;
  left: 22px;
  font-family: Open Sauce One;
  font-weight: Bold;
  font-size: 35px;
  opacity: 1;
  text-align: left;
}
.v547_348 {
  width: 100%;
  height: 213px;
  background: url("../images/v547_348.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 339px;
  left: 0px;
  overflow: hidden;
}
.v547_349 {
  width: 100%;
  height: 213px;
  background: url("../images/v547_349.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v547_350 {
  width: 100%;
  height: 213px;
  background: rgba(252,75,8,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
  overflow: hidden;
}
.v547_351 {
  width: 246px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 19px;
  left: 22px;
  font-family: Open Sauce One;
  font-weight: Bold;
  font-size: 35px;
  opacity: 1;
  text-align: left;
}
.v547_352 {
  width: 271px;
  height: 271px;
  background: url("../images/v547_352.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 280px;
  left: 729px;
  overflow: hidden;
}
.v547_353 {
  width: 91px;
  height: 91px;
  background: url("../images/v547_353.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1270px;
  left: 22px;
  overflow: hidden;
}
.v547_354 {
  width: 246px;
  height: 63px;
  background: url("../images/v547_354.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 183px;
  left: 1450px;
  overflow: hidden;
}
.v547_355 {
  width: 180px;
  height: 63px;
  background: rgba(252,75,8,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 33px;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
  overflow: hidden;
}
.v547_356 {
  width: 246px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 8px;
  left: 0px;
  font-family: Open Sauce One;
  font-weight: Bold;
  font-size: 35px;
  opacity: 1;
  text-align: center;
}
.v547_357 {
  width: 100%;
  height: 154px;
  background: url("../images/v547_357.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v547_358 {
  width: 100%;
  height: 154px;
  background: rgba(252,75,8,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v547_359 {
  width: 145px;
  height: 65px;
  background: url("../images/v547_359.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 53px;
  left: 1551px;
  overflow: hidden;
}
.v547_360 {
  width: 65px;
  height: 65px;
  background: url("../images/v547_360.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v547_361 {
  width: 65px;
  height: 65px;
  background: url("../images/v547_361.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 80px;
  overflow: hidden;
}
.v547_362 {
  width: 648px;
  height: 81px;
  background: url("../images/v547_362.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 45px;
  left: 540px;
  overflow: hidden;
}
.v547_363 {
  width: 648px;
  height: 81px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 55px;
  border-top-right-radius: 55px;
  border-bottom-left-radius: 55px;
  border-bottom-right-radius: 55px;
  overflow: hidden;
}
.v547_364 {
  width: 64px;
  height: 64px;
  background: url("../images/v547_364.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 561px;
  overflow: hidden;
}
.v547_365 {
  width: 206px;
  height: 154px;
  background: url("../images/v547_365.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 61px;
  overflow: hidden;
}
.v547_378 {
  width: 100%;
  height: 100%;
  background: rgba(136,138,152,0.699999988079071);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v566_314 {
  width: 100%;
  height: 844px;
  background: url("../images/v566_314.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 369px;
  left: 233px;
  overflow: hidden;
}
.v547_380 {
  width: 100%;
  height: 844px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v547_383 {
  width: 100%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 646px;
  left: 0px;
  font-family: Open Sauce One;
  font-weight: Bold;
  font-size: 70px;
  opacity: 1;
  text-align: center;
}
.v547_382 {
  width: 367px;
  height: 367px;
  background: url("../images/v547_382.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 126px;
  left: 448px;
  overflow: hidden;
}
